# تمرین اول زهرا رجبی

## preprocessing and linear regression on House price prediction - SEATTLE dataset

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [49]:
df = pd.read_csv('test.csv')

print('first 5 rows of the dataset')
df.head(10)

first 5 rows of the dataset

,beds,baths,size,size_units,lot_size,lot_size_units,zip_code,price
0,3,3.0,2850.0,sqft,4200.00,sqft,98119,1175000.0
1,4,5.0,3040.0,sqft,5002.00,sqft,98106,1057500.0
2,3,1.0,1290.0,sqft,6048.00,sqft,98125,799000.0
3,3,2.0,2360.0,sqft,0.28,acre,98188,565000.0
4,3,3.5,1942.0,sqft,1603.00,sqft,98107,1187000.0
5,2,2.0,963.0,sqft,4753.00,sqft,98122,701000.0
6,1,1.0,756.0,sqft,NaN,NaN,98105,480000.0
7,4,6.0,3300.0,sqft,5810.00,sqft,98199,1795000.0
8,4,2.0,2060.0,sqft,4206.00,sqft,98144,1025000.0
9,1,1.0,672.0,sqft,NaN,NaN,98122,450000.0

In [5]:
(rows , columns ) = df.shape
 
print(f'تعداد نمونه ها {rows} , تعداد ویژگی ها {columns} ')
print()
print(f'تعداد ویژگی ها = {df.shape[1]} ')
print()
print(f'تعداد نمونه ها = {df.shape[0]}')

تعداد نمونه ها 505 , تعداد ویژگی ها 8

تعداد ویژگی ها = 8

تعداد نمونه ها = 505

#### calculation how many missing values are in my dataset

In [21]:
print(f'در هر بخش چندتا داده مقدار دهی نشده اند \n \n {df.isnull().sum()}')
missing_values_total_number = df.isnull().sum().sum()

print()
print(f'تعداد کل missing values = {missing_values_total_number}')

در هر بخش چندتا داده مقدار دهی نشده اند

 beds               0
baths              0
size               0
size_units         0
lot_size          77
lot_size_units    77
zip_code           0
price              0
dtype: int64

تعداد کل missing values = 154

In [48]:
df_new = df.copy()
print('numbers of missing value before cleaning them \n')
print(df_new.isnull().sum())

print('___________________________')
print()

num_features = df_new.select_dtypes(include=['number'])
df_new = df_new.fillna(num_features.mean())
df_new = df.ffill()
# df_new['lot_size_units'] = df_new['lot_size_units'].interpolate("pad")
print('numbers of missing value after cleaning them \n')
df_new.isnull().sum()

numbers of missing value before cleaning them

beds               0
baths              0
size               0
size_units         0
lot_size          77
lot_size_units    77
zip_code           0
price              0
dtype: int64
___________________________

numbers of missing value after cleaning them

beds              0
baths             0
size              0
size_units        0
lot_size          0
lot_size_units    0
zip_code          0
price             0
dtype: int64